.bars{
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-left: 7px solid dodgerblue ;
    border-right: 7px solid dodgerblue ;
    
}
.container-box{
    height: 100vh; 
display: flex; 
justify-content: center; 
align-items: center;
}
.content-box{
    box-shadow: 8px 8px 8px rgba(0.4,0.4,0.4,0.22),
8px 8px 8px rgba(0.4,0.4,0.4,0.24);border-radius: 10px;border: 1px solid #ccc;
}
.gif img{
	height: 40%;
	width:40%;
}
.header{
    font-size: 2em; font-weight: 500;
}
.content{
	color: darkgray;
	

}
mat-form-field{
	width: 100%;
}
