
<div class="blu" >
    <img src="../../../../assets/image/lock.png" style="width:100px;margin-top: 50px;" alt="">
    </div>
    
    
    <mat-dialog-content class="mt-4">
      <h2>Thank you! </h2>
      <p>Your Password has been set Successfully. Please Login to continue</p>
    </mat-dialog-content>
    <mat-dialog-actions >
      
      <button mat-button color="accent" (click)="redirectToLogin()">Login</button>
      <button mat-button color="warn" mat-dialog-close>Close</button> <!-- Close button -->
    </mat-dialog-actions>

